@import "~bootstrap/scss/bootstrap";

body {
    background:  url(../images/fond.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

i {
    font-size: 100px;
    padding: 5px;
}

.socials {
    display: flex;
    justify-content: center;
}

.main {
    flex-grow: 1;
    height: 3rem;
}

.main-container {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;
}

.navbar {
    background-color: white;
    bottom: 0;
    position: fixed;
    z-index: 7;
    width: 100%;
}

li {
    color: black;
    padding: 14px 16px;
    list-style: none;
}

ul {
    display: flex;
}

a {
    color: black;
}

.nav-link {
    font-size: 32px;
    color: black;
}

.card {
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    max-width: 800px;
    margin: 1em auto;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 20px1fr));
    grid-gap: 70px;
    margin: 2rem;
}
.adminLogo {
    display: flex;
    justify-content: flex-end;
}

.new-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-form-container {
    font-size: 30px;
}
.btn {
    border: solid black 1px;
    border-radius: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width:700px;
    padding-top: 5px;
    border-style: solid;
    border-color: black;
    padding-left: 3px;
    padding-bottom: 10px;
    font-size: 35px;
    margin-left: 3rem;
    background-color: aliceblue;
}

.spacer {
    height: 8rem;
}

h2 {
    font-size: 70px;
    margin-left: 2rem;
}
h1 {
    font-size: 90px;
    margin-left: 2rem;
}

.register-text, .deco, .form-container {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.registration-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.login-submit {
    border-radius: 15px;
    background-color: chocolate;
}

.contact-form{
    display: grid;
    justify-items: center;
}

/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 50%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

@media (min-width: 992px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
    .main-container {
        flex-direction: column;
    }

    .navbar {
        background-color: transparent;
        bottom: auto;
        position: relative;
    }

    .box {
        margin-left: 4rem;
        font-size:20px
    }

    .spacer {
        height: 5rem;
    }

    h1 {
        font-size: 60px;
        margin-left: 2rem;
    }

    h2 {
        font-size:50px;
        margin-left: 2rem;
    }

    .adminLogo {
        bottom: 0;
        position: fixed;
        right: 0;
    }

}
