@import "~bootstrap/scss/bootstrap";
// div.gallery {
//     border: 1px solid black;
//     background-color: lightgray;
//     display: flex;
//     flex-direction : column;
//   }
  
//   div.gallery:hover {
//     border: 2px solid #777;
//   }
  
//   div.gallery img {
//     width: 100%;
//     height: auto;
//   }
  
//   div.desc {
//     padding: 15px;
//     text-align: center;
//   }
  
//   * {
//     box-sizing: border-box;
//   }
  
//   .responsive {
//     padding: 0 6px;
//     float: left;
//     width: 24.99999%;
//   }
  
//   @media only screen and (max-width: 700px) {
//     .responsive {
//       width: 49.99999%;
//       margin: 6px 0;
//     }
//   }
  
//   @media only screen and (max-width: 500px) {
//     .responsive {
//       width: 100%;
//     }
//   }
  
//   .clearfix:after {
//     content: "";
//     display: table;
//     clear: both;
//   }

body {
    background:  url(../images/fond.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.main {
    flex-grow: 1;
    height: 3rem;
}

.main-container {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;
    align-items: center;
}

.navbar {
    background-color: white;

    li {
        color: black;
        padding: 14px 16px;
        list-style: none;
    }

    ul {
        display: flex;
    }

    a {
        color: black;
    }
}

.nav-link {
    font-size: 32px;
}

.card {
    background-color: lightgray;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5rem;
}
.adminLogo {
    display: flex;
    justify-content: flex-end;
}

.box {
    width:700px;
    padding-top: 5px;
    border-style: solid;
    border-color: black;
    padding-left: 3px;
    padding-bottom: 10px;
    font-size: 35px;
    margin-left: 3rem;
}

.spacer {
    height: 8rem;
}

h2 {
    font-size: 70px;
    margin-left: 2rem;
}
h1 {
    font-size: 90px;
    margin-left: 2rem;
}

@media (min-width: 992px) {
    .main-container {
        flex-direction: column;
    }

    .navbar {
        background-color: transparent;
    }

    .box {
        margin-left: 4rem;
        font-size:20px
    }

    .spacer {
        height: 5rem;
    }

    h1 {
        font-size: 60px;
        margin-left: 2rem;
    }

    h2 {
        font-size:50px;
        margin-left: 2rem;
    }

}
