@import "~bootstrap/scss/bootstrap";
// div.gallery {
//     border: 1px solid black;
//     background-color: lightgray;
//     display: flex;
//     flex-direction : column;
//   }
  
//   div.gallery:hover {
//     border: 2px solid #777;
//   }
  
//   div.gallery img {
//     width: 100%;
//     height: auto;
//   }
  
//   div.desc {
//     padding: 15px;
//     text-align: center;
//   }
  
//   * {
//     box-sizing: border-box;
//   }
  
//   .responsive {
//     padding: 0 6px;
//     float: left;
//     width: 24.99999%;
//   }
  
//   @media only screen and (max-width: 700px) {
//     .responsive {
//       width: 49.99999%;
//       margin: 6px 0;
//     }
//   }
  
//   @media only screen and (max-width: 500px) {
//     .responsive {
//       width: 100%;
//     }
//   }
  
//   .clearfix:after {
//     content: "";
//     display: table;
//     clear: both;
//   }

body {
    background:  url(../images/fond.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.main {
    flex-grow: 1;
    height: 3rem;
}

.main-container {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;
}

.navbar {
    background-color: white;
    bottom: 0;
    position: fixed;
    z-index: 7;
    width: 100%;
}

li {
    color: black;
    padding: 14px 16px;
    list-style: none;
}

ul {
    display: flex;
}

a {
    color: black;
}

.nav-link {
    font-size: 32px;
    color: black;
}

.card {
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    max-width: 800px;
    margin: 1em auto;
}

.cards-container {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 20px1fr));
    grid-gap: 70px;
    margin: 2rem;
}
.adminLogo {
    display: flex;
    justify-content: flex-end;
}

.new-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-form-container {
    font-size: 30px;
}
.btn {
    border: solid black 1px;
    border-radius: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width:700px;
    padding-top: 5px;
    border-style: solid;
    border-color: black;
    padding-left: 3px;
    padding-bottom: 10px;
    font-size: 35px;
    margin-left: 3rem;
}

.spacer {
    height: 8rem;
}

h2 {
    font-size: 70px;
    margin-left: 2rem;
}
h1 {
    font-size: 90px;
    margin-left: 2rem;
}

.register-text, .deco, .form-container {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.registration-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.login-submit {
    border-radius: 15px;
    background-color: chocolate;
}

@media (min-width: 992px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
    .main-container {
        flex-direction: column;
    }

    .navbar {
        background-color: transparent;
        bottom: auto;
        position: relative;
    }

    .box {
        margin-left: 4rem;
        font-size:20px
    }

    .spacer {
        height: 5rem;
    }

    h1 {
        font-size: 60px;
        margin-left: 2rem;
    }

    h2 {
        font-size:50px;
        margin-left: 2rem;
    }

    .adminLogo {
        bottom: 0;
        position: fixed;
        right: 0;
    }

}
