{% extends 'base.html.twig' %}
{% block body %}
	<main class="main">
		<div class="portfolio-container">
			<h1>Portfolio</h1>
			<h2>Justine Petit</h2>
			<div class="portfolio-intro">
			<div class="spacer"></div>
				<p class="box">
				En reconversion professionnelle pour devenir développeuse web,
				je suis en formation PHP/Symfony a la Wild Code School jusqu'au 14 Février 2021.
				je souhaite continuer a me former par la suite en entreprise, pour cela,
				je cherche un contrat de professionnalisation d'un an, débutant le 7 mars 2022.
				</p>
			</div>
		</div>
	</main>
{% endblock %}
