{% extends 'base.html.twig' %}

{% block title %}New Project
{% endblock %}

{% block body %}
	<main class="main">
		<div class="new-project-container">
			<h1>Create new Project</h1>
			<div class="new-form-container">
				{{ include('project/_form.html.twig') }}

				<a href="{{ path('project_index') }}">back to list</a>
			</div>
		</div>
	</main>
{% endblock %}
