{% extends 'base.html.twig' %}

{% block title %}Skills index{% endblock %}

{% block body %}
	<main class="main">
		<div class="cards-container">
			{% for skill in skills %}
				<div class="card">
					<img src="{{ skill.icon }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">title</h5>
						<p class="card-text">text</p>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('skills_new') }}">Ajouter une nouvelle technologie</a>
		{% endif %}

	{% endblock %}
